<h1>Orders #<%= @order.id %> (<%= show_order_status @order.status %>)</h1>
<table>
  <thead>
    <tr>
      <th>produto</th>
      <th>quantidade</th>
      <th>valor</th>
      <th>valor total</th>
    </tr>
  </thead>
  <tbody>
  <% @order.order_items.includes(:product).each_with_index do |item, idx| %>
    <tr>
      <td><%= idx %> - <%= item.product.name %></td>
      <td><%= item.qtd %></td>
      <td><%= item.product.value %></td>
      <td><%= item.product.value*item.qtd %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<hr>
Promocode: <%= "#{@order.promocode.code} - #{show_promo_status @order.promocode.status}" if @order.promocode %>

<hr>
Total - <%= @order.total_value %>
<br>
Descontos - <%= @order.discount_value %>
<br>
Final - <%= @order.final_value %>
<hr>
 <%= link_to 'confirmar', confirm_payment_path(@order) %>
 - <%= link_to 'cancelar', cancel_payment_path(@order) %>
